In [3]:
import pandas as pd
import numpy as np

In [4]:
NYC = pd.read_csv('../data/dataset_TSMC2014_NYC.csv')
TKY = pd.read_csv('../data/dataset_TSMC2014_TKY.csv')

In [5]:
NYC[:2]

,userId,venueId,venueCategoryId,venueCategory,latitude,longitude,timezoneOffset,utcTimestamp
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.71981,-74.002581,-240,Tue Apr 03 18:00:09 +0000 2012
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.60680,-74.044170,-240,Tue Apr 03 18:00:25 +0000 2012

In [6]:
NYC['utcTimestamp'] = pd.to_datetime(NYC['utcTimestamp'])
TKY['utcTimestamp'] = pd.to_datetime(TKY['utcTimestamp'])

In [7]:
def match_dict(hour):
    #I split a day into 5 pecies,1 means early morning,2 means morning..etc
    split_day_dict = {1:[0,5],2:[5,11],3:[11,13],4:[13,18],5:[18,24]}
    for k,v in split_day_dict.items():
        if hour>=v[0] and hour<=v[1]:
            return k

def time_region_fearures(df):
    df['hour'] = df['utcTimestamp'].dt.hour
    df['month'] = df['utcTimestamp'].dt.month
    df['weekday'] = df['utcTimestamp'].dt.weekday
    df['week'] = df['utcTimestamp'].dt.week
    df['split_day'] = df['hour'].apply(lambda x:match_dict(x))
    df['weekofyear'] = df['utcTimestamp'].dt.weekofyear
    df['dayofweek'] = df['utcTimestamp'].dt.dayofweek
    df['weekofyear'] = df['utcTimestamp'].dt.weekofyear
    df['ismonthstart'] = df['utcTimestamp'].dt.is_month_start
    df['ismonthend'] = df['utcTimestamp'].dt.is_month_end
    
    
    return df

In [8]:
NYC = time_region_fearures(NYC)
TKY = time_region_fearures(TKY)

In [9]:
NYC[:4]

,userId,venueId,venueCategoryId,venueCategory,latitude,longitude,timezoneOffset,utcTimestamp,hour,month,weekday,week,split_day,weekofyear,dayofweek,ismonthstart,ismonthend
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,2012-04-03 18:00:09,18,4,1,14,4,14,1,False,False
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,2012-04-03 18:00:25,18,4,1,14,4,14,1,False,False
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,2012-04-03 18:02:24,18,4,1,14,4,14,1,False,False
3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,2012-04-03 18:02:41,18,4,1,14,4,14,1,False,False

In [10]:
def frequence_feature(df):
    frequence_weekday = df.groupby(['userId','weekday','venueCategory']).count()
    frequence_weekday = frequence_weekday.reset_index()[['userId','weekday','venueCategory','venueId']]
    frequence_weekday = frequence_weekday.rename(columns={'venueId':'frequence_weekday'})

    frequence_split_day = df.groupby(['userId','split_day','venueCategory']).count()
    frequence_split_day = frequence_split_day.reset_index()[['userId','split_day','venueCategory','venueId']]
    frequence_split_day = frequence_split_day.rename(columns={'venueId':'frequence_split_day'})


    frequence_month = df.groupby(['userId','month','venueCategory']).count()
    frequence_month = frequence_month.reset_index()[['userId','month','venueCategory','venueId']]
    frequence_month = frequence_month.rename(columns={'venueId':'frequence_month'})
    
    df = df.merge(frequence_weekday,how='left',on=['userId','venueCategory','weekday'])
    df = df.merge(frequence_split_day,how='left',on=['userId','venueCategory','split_day'])
    df = df.merge(frequence_month,how='left',on=['userId','venueCategory','month'])
    
    return df

In [11]:
NYC = frequence_feature(NYC)
TKY = frequence_feature(TKY)

In [12]:
#encode venueCategory
def encode_venueCategory(df):
    unique_venueCategory_vec = np.unique(df['venueCategory'])
    venueCategory_dict = {}
    is_judge ={True:1,False:0}
    for idx,name in enumerate(unique_venueCategory_vec):
        venueCategory_dict[name] = idx
    df['venueCategory_id'] = df['venueCategory'].apply(lambda x:venueCategory_dict[x])
    df['ismonthstart'] = df['ismonthstart'].apply(lambda x:is_judge[x])
    df['ismonthend'] = df['ismonthend'].apply(lambda x:is_judge[x])
    return df,venueCategory_dict

In [13]:
NYC,venue_category_dict_nyc = encode_venueCategory(NYC)
TKY,venue_category_dict_tky = encode_venueCategory(TKY)

## Modeling

In [14]:
NYC = NYC.sort_values(by=['userId','utcTimestamp'])
TKY = TKY.sort_values(by=['userId','utcTimestamp'])

In [15]:
chosed_cols = ['userId','utcTimestamp','hour','month', 'weekday','week',
               'split_day','weekofyear','dayofweek',
               'ismonthstart','ismonthend','frequence_weekday',
               'frequence_split_day','frequence_month','venueCategory_id']
                
def generate_feature(df,chosed_cols):
    df = df[chosed_cols]
    unique_users = np.unique(df['userId'])
    test_set = pd.DataFrame()
    train_set = pd.DataFrame()
    for user in unique_users:
        test_set = test_set.append(df[df['userId']==user][-1:])
        train_set = train_set.append(df[df['userId']==user][:])
    return test_set,train_set

In [16]:
testset_nyc,trainset_nyc = generate_feature(NYC,chosed_cols)
testset_tky,trainset_tky = generate_feature(TKY,chosed_cols)

## model

In [17]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

/opt/current-env/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [18]:
def train(model,X,y):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
    classif = OneVsRestClassifier(model)
    classif.fit(X_train, y_train)
    y_pred = classif.predict(X)
    acc = accuracy_score(y_true=y,y_pred=y_pred)
    
    return acc,classif

## NYC

In [20]:
#prepare
NYC_train_Timestamp = trainset_nyc['utcTimestamp']
NYC_train = trainset_nyc.drop('utcTimestamp',axis=1)
NYC_test_Timestamp = testset_nyc['utcTimestamp']
NYC_test = testset_nyc.drop('utcTimestamp',axis=1)
y_nyc = NYC_train['venueCategory_id']
X_nyc = NYC_train.drop('venueCategory_id',axis=1)

show_nyc = testset_nyc
# train svm
svm = SVC(kernel='linear')
#rf_nyc = RandomForestClassifier(n_jobs=-1)
#rf_acc_nyc,rf_nyc = train(rf_nyc,X_nyc,y_nyc)
print("random forest accuracy_score on NYC is {}".format(rf_acc_nyc))

#predict N+1
test_y_nyc = NYC_test['venueCategory_id']
test_X_nyc = NYC_test.drop('venueCategory_id',axis=1)

rf_pred_nyc = rf_nyc.predict(test_X_nyc)
rf_test_acc_nyc = accuracy_score(test_y_nyc,rf_pred_nyc)
print('N+1 predict on NYC accuracy score is {}'.format(rf_test_acc_nyc))
show_nyc['predict'] = rf_pred_nyc
venue_category_dict_nyc_ = dict(zip(venue_category_dict_nyc.values(), venue_category_dict_nyc.keys()))
show_nyc['predict'] = show_nyc['predict'].apply(lambda x:venue_category_dict_nyc_[x]) 
show_nyc['venueCategory'] = show_nyc['venueCategory_id'] .apply(lambda x:venue_category_dict_nyc_[x])

print('show n+1 result')
print(show_nyc[['userId','utcTimestamp','venueCategory','predict']])

random forest accuracy_score on NYC is 0.8013964859208189
N+1 predict on NYC accuracy score is 0.76269621421976
show n+1 result
        userId        utcTimestamp              venueCategory  \
196135       1 2012-12-15 00:13:02                    Airport
226902       2 2013-02-13 19:16:40                      Beach
222989       3 2013-02-06 00:49:03                 Restaurant
227121       4 2013-02-14 00:37:40                     Church
179298       5 2012-11-20 00:44:50          Food & Drink Shop
227323       6 2013-02-14 09:43:16              Deli / Bodega
225933       7 2013-02-12 13:45:02                     School
226044       8 2013-02-12 17:00:08                        Bar
219939       9 2013-02-01 02:27:59           Asian Restaurant
171443      10 2012-11-05 18:07:19            Thai Restaurant
227377      11 2013-02-16 01:35:22                 Restaurant
224759      12 2013-02-10 17:31:34          Food & Drink Shop
214414      13 2013-01-18 13:26:29  College Academic Building
212186      14 2013-01-14 10:08:28                       Park
225987      15 2013-02-12 14:51:29               Burger Joint
180909      16 2012-11-22 01:37:22          Food & Drink Shop
220312      17 2013-02-01 17:46:09                 Donut Shop
221820      18 2013-02-03 20:32:45       Gym / Fitness Center
226373      19 2013-02-13 00:52:01               Dessert Shop
218610      20 2013-01-30 02:14:08                        Bar
224235      21 2013-02-08 00:23:45                 Steakhouse
225822      22 2013-02-12 08:51:10             Clothing Store
227362      23 2013-02-14 12:02:37                    Airport
206459      24 2013-01-04 17:43:19       Gym / Fitness Center
227150      25 2013-02-14 00:58:44                Event Space
226148      26 2013-02-12 19:12:18                     Office
227382      27 2013-02-16 01:44:37           Video Game Store
226693      28 2013-02-13 13:16:00                     Subway
225543      29 2013-02-11 21:53:52             Medical Center
227075      30 2013-02-13 23:51:22                        Bar
...        ...                 ...                        ...
226956    1054 2013-02-13 21:14:01           Department Store
139322    1055 2012-07-24 19:58:31                    Airport
227039    1056 2013-02-13 23:18:38                     Bakery
213251    1057 2013-01-16 19:22:05             Student Center
226720    1058 2013-02-13 13:52:07                     Office
215058    1059 2013-01-21 23:09:38          Food & Drink Shop
212337    1060 2013-01-14 14:44:00                     Office
219785    1061 2013-01-31 23:14:55         Mexican Restaurant
192143    1062 2012-12-08 22:11:31                      Diner
109957    1063 2012-06-15 11:12:33       Gas Station / Garage
188450    1064 2012-12-04 16:35:42                     Office
225874    1065 2013-02-12 12:25:36              Deli / Bodega
90772     1066 2012-05-31 21:35:39                    Airport
223003    1067 2013-02-06 10:51:24                    Airport
223197    1068 2013-02-06 17:42:48          Mobile Phone Shop
206465    1069 2013-01-04 17:54:36             Medical Center
177437    1070 2012-11-17 00:19:22            Thai Restaurant
227202    1071 2013-02-14 02:10:01               Camera Store
227141    1072 2013-02-14 00:53:27          Indian Restaurant
226218    1073 2013-02-12 21:50:08                Coffee Shop
221975    1074 2013-02-04 12:03:37                     Office
222934    1075 2013-02-05 23:32:46               Burger Joint
224265    1076 2013-02-08 00:57:47                 Restaurant
227230    1077 2013-02-14 02:56:37               Burger Joint
227221    1078 2013-02-14 02:45:52             Home (private)
198126    1079 2012-12-17 18:26:18                    Airport
182761    1080 2012-11-25 01:37:12                        Bar
227169    1081 2013-02-14 01:16:34  College Academic Building
105549    1082 2012-06-11 14:29:34              Train Station
225359    1083 2013-02-11 15:49:50                     Office

                          predict
196135             Clothing Store
226902                      Beach
222989                 Restaurant
227121                     Church
179298          Food & Drink Shop
227323              Deli / Bodega
225933                     School
226044                     School
219939                   Building
171443            Thai Restaurant
227377           Video Game Store
224759                        Bar
214414  College Academic Building
212186                       Park
225987               Burger Joint
180909          Food & Drink Shop
220312                 Donut Shop
221820             Hardware Store
226373        American Restaurant
218610                        Bar
224235       Gas Station / Garage
225822             Clothing Store
227362                    Airport
206459       Drugstore / Pharmacy
227150                Event Space
226148                     Office
227382           Video Game Store
226693                     Bakery
225543             Medical Center
227075       Gym / Fitness Center
...                           ...
226956       Gym / Fitness Center
139322                    Airport
227039                Candy Store
213251                    Airport
226720                     Office
215058          Food & Drink Shop
212337                     Office
219785         Mexican Restaurant
192143                      Diner
109957       Gas Station / Garage
188450                     Office
225874                     Office
90772                     Airport
223003                    Airport
223197          Mobile Phone Shop
206465                   Building
177437            Thai Restaurant
227202               Camera Store
227141          Indian Restaurant
226218                Coffee Shop
221975                     Office
222934          Food & Drink Shop
224265                 Restaurant
227230               Burger Joint
227221       Gym / Fitness Center
198126                    Airport
182761                        Bar
227169  College Academic Building
105549              Train Station
225359                     Office

[1083 rows x 4 columns]

In [31]:
nyc_parameters = rf_nyc.get_params()
vec = []
for key in nyc_parameters.keys():
    tmp = [key,nyc_parameters[key]]
    vec.append(tmp)
vec = pd.DataFrame(vec,columns=['parameter','value'])
vec

,parameter,value
0,estimator__bootstrap,True
1,estimator__class_weight,None
2,estimator__criterion,gini
3,estimator__max_depth,None
4,estimator__max_features,auto
5,estimator__max_leaf_nodes,None
6,estimator__min_impurity_decrease,0
7,estimator__min_impurity_split,None
8,estimator__min_samples_leaf,1
9,estimator__min_samples_split,2
10,estimator__min_weight_fraction_leaf,0
11,estimator__n_estimators,10
12,estimator__n_jobs,-1
13,estimator__oob_score,False
14,estimator__random_state,None
15,estimator__verbose,0
16,estimator__warm_start,False
17,estimator,"RandomForestClassifier(bootstrap=True, class_w..."
18,n_jobs,1

In [24]:
show_nyc[['userId','utcTimestamp','venueCategory','predict']]

,userId,utcTimestamp,venueCategory,predict
196135,1,2012-12-15 00:13:02,Airport,Clothing Store
226902,2,2013-02-13 19:16:40,Beach,Beach
222989,3,2013-02-06 00:49:03,Restaurant,Restaurant
227121,4,2013-02-14 00:37:40,Church,Church
179298,5,2012-11-20 00:44:50,Food & Drink Shop,Food & Drink Shop
227323,6,2013-02-14 09:43:16,Deli / Bodega,Deli / Bodega
225933,7,2013-02-12 13:45:02,School,School
226044,8,2013-02-12 17:00:08,Bar,School
219939,9,2013-02-01 02:27:59,Asian Restaurant,Building
171443,10,2012-11-05 18:07:19,Thai Restaurant,Thai Restaurant
227377,11,2013-02-16 01:35:22,Restaurant,Video Game Store
224759,12,2013-02-10 17:31:34,Food & Drink Shop,Bar
214414,13,2013-01-18 13:26:29,College Academic Building,College Academic Building
212186,14,2013-01-14 10:08:28,Park,Park
225987,15,2013-02-12 14:51:29,Burger Joint,Burger Joint
180909,16,2012-11-22 01:37:22,Food & Drink Shop,Food & Drink Shop
220312,17,2013-02-01 17:46:09,Donut Shop,Donut Shop
221820,18,2013-02-03 20:32:45,Gym / Fitness Center,Hardware Store
226373,19,2013-02-13 00:52:01,Dessert Shop,American Restaurant
218610,20,2013-01-30 02:14:08,Bar,Bar
224235,21,2013-02-08 00:23:45,Steakhouse,Gas Station / Garage
225822,22,2013-02-12 08:51:10,Clothing Store,Clothing Store
227362,23,2013-02-14 12:02:37,Airport,Airport
206459,24,2013-01-04 17:43:19,Gym / Fitness Center,Drugstore / Pharmacy
227150,25,2013-02-14 00:58:44,Event Space,Event Space
226148,26,2013-02-12 19:12:18,Office,Office
227382,27,2013-02-16 01:44:37,Video Game Store,Video Game Store
226693,28,2013-02-13 13:16:00,Subway,Bakery
225543,29,2013-02-11 21:53:52,Medical Center,Medical Center
227075,30,2013-02-13 23:51:22,Bar,Gym / Fitness Center
...,...,...,...,...
226956,1054,2013-02-13 21:14:01,Department Store,Gym / Fitness Center
139322,1055,2012-07-24 19:58:31,Airport,Airport
227039,1056,2013-02-13 23:18:38,Bakery,Candy Store
213251,1057,2013-01-16 19:22:05,Student Center,Airport
226720,1058,2013-02-13 13:52:07,Office,Office
215058,1059,2013-01-21 23:09:38,Food & Drink Shop,Food & Drink Shop
212337,1060,2013-01-14 14:44:00,Office,Office
219785,1061,2013-01-31 23:14:55,Mexican Restaurant,Mexican Restaurant
192143,1062,2012-12-08 22:11:31,Diner,Diner
109957,1063,2012-06-15 11:12:33,Gas Station / Garage,Gas Station / Garage
188450,1064,2012-12-04 16:35:42,Office,Office
225874,1065,2013-02-12 12:25:36,Deli / Bodega,Office
90772,1066,2012-05-31 21:35:39,Airport,Airport
223003,1067,2013-02-06 10:51:24,Airport,Airport
223197,1068,2013-02-06 17:42:48,Mobile Phone Shop,Mobile Phone Shop
206465,1069,2013-01-04 17:54:36,Medical Center,Building
177437,1070,2012-11-17 00:19:22,Thai Restaurant,Thai Restaurant
227202,1071,2013-02-14 02:10:01,Camera Store,Camera Store
227141,1072,2013-02-14 00:53:27,Indian Restaurant,Indian Restaurant
226218,1073,2013-02-12 21:50:08,Coffee Shop,Coffee Shop
221975,1074,2013-02-04 12:03:37,Office,Office
222934,1075,2013-02-05 23:32:46,Burger Joint,Food & Drink Shop
224265,1076,2013-02-08 00:57:47,Restaurant,Restaurant
227230,1077,2013-02-14 02:56:37,Burger Joint,Burger Joint
227221,1078,2013-02-14 02:45:52,Home (private),Gym / Fitness Center
198126,1079,2012-12-17 18:26:18,Airport,Airport
182761,1080,2012-11-25 01:37:12,Bar,Bar
227169,1081,2013-02-14 01:16:34,College Academic Building,College Academic Building
105549,1082,2012-06-11 14:29:34,Train Station,Train Station
225359,1083,2013-02-11 15:49:50,Office,Office

## TKY

In [22]:
#prepare
TKY_train_Timestamp = trainset_tky['utcTimestamp']
TKY_train = trainset_tky.drop('utcTimestamp',axis=1)
TKY_test_Timestamp = testset_tky['utcTimestamp']
TKY_test = testset_tky.drop('utcTimestamp',axis=1)
y_tky = TKY_train['venueCategory_id']
X_tky = TKY_train.drop('venueCategory_id',axis=1)
show_tky = testset_tky
# train svm
svm = SVC(kernel='linear')
rf_tky = RandomForestClassifier(n_jobs=-1)
rf_acc_tky,rf_tky = train(rf_tky,X_tky,y_tky)
print("rf accuracy_score on TKY is {}".format(rf_acc_tky))

test_y_tky = TKY_test['venueCategory_id']
test_X_tky = TKY_test.drop('venueCategory_id',axis=1)

rf_pred_tky = rf_tky.predict(test_X_tky)
rf_test_acc_tky = accuracy_score(test_y_tky,rf_pred_tky)
print('N+1 predict on TKY accuracy score is {}'.format(rf_test_acc_tky))
show_tky['predict'] = rf_pred_tky
venue_category_dict_tky_ = dict(zip(venue_category_dict_tky.values(), venue_category_dict_tky.keys()))
show_tky['predict'] = show_tky['predict'].apply(lambda x:venue_category_dict_tky_[x]) 
show_tky['venueCategory'] = show_tky['venueCategory_id'] .apply(lambda x:venue_category_dict_tky_[x])

print(show_tky[['userId','utcTimestamp','venueCategory','predict']])

rf accuracy_score on TKY is 0.844199873453686
N+1 predict on TKY accuracy score is 0.7802006105538596
        userId        utcTimestamp              venueCategory  \
536337       1 2013-01-26 12:44:42              Train Station
571615       2 2013-02-14 00:25:44                     Office
573011       3 2013-02-14 10:01:19                       Park
572950       4 2013-02-14 09:47:56              Movie Theater
573562       5 2013-02-14 12:23:47      Ramen /  Noodle House
568714       6 2013-02-12 21:57:03              Train Station
573309       7 2013-02-14 11:07:31      Ramen /  Noodle House
573606       8 2013-02-16 01:46:12              Train Station
228487       9 2012-06-18 14:30:17              Train Station
571387      10 2013-02-13 22:59:15              Train Station
553872      11 2013-02-03 09:44:49                     Subway
572628      12 2013-02-14 08:36:59       Fast Food Restaurant
439208      13 2012-12-03 03:56:19                  BBQ Joint
572378      14 2013-02-14 07:08:41                Event Space
571962      15 2013-02-14 03:53:23          Indian Restaurant
567716      16 2013-02-12 09:29:06                Music Venue
452109      17 2012-12-08 04:42:14      Ramen /  Noodle House
573602      18 2013-02-16 01:44:34              Train Station
568088      19 2013-02-12 10:48:21              Train Station
572271      20 2013-02-14 06:33:18              Movie Theater
572829      21 2013-02-14 09:25:12                     Subway
518411      22 2013-01-13 08:57:07           Department Store
541218      23 2013-01-28 22:27:41             Sandwich Place
565270      24 2013-02-11 08:53:20              Train Station
570706      25 2013-02-13 11:18:36       Gym / Fitness Center
499416      26 2013-01-04 00:26:56                Bus Station
573560      27 2013-02-14 12:22:05              Train Station
568702      28 2013-02-12 21:15:23              Train Station
572892      29 2013-02-14 09:38:41              Train Station
532914      30 2013-01-25 09:27:36                     Subway
...        ...                 ...                        ...
565709    2264 2013-02-11 10:40:00                 Hobby Shop
572238    2265 2013-02-14 06:16:48              Train Station
533068    2266 2013-01-25 09:50:27        Japanese Restaurant
571612    2267 2013-02-14 00:23:19          Convention Center
572579    2268 2013-02-14 08:20:25                    Library
569467    2269 2013-02-13 05:05:26                     Subway
570987    2270 2013-02-13 12:49:12      Ramen /  Noodle House
570980    2271 2013-02-13 12:46:02                        Bar
536603    2272 2013-01-26 23:47:57                     Subway
573445    2273 2013-02-14 11:44:01        Japanese Restaurant
563742    2274 2013-02-10 00:11:24                     Office
569801    2275 2013-02-13 07:50:17  College Academic Building
573161    2276 2013-02-14 10:30:14                    Theater
573697    2277 2013-02-16 02:34:32                     Subway
573681    2278 2013-02-16 02:28:03              Train Station
569423    2279 2013-02-13 04:40:36      Ramen /  Noodle House
487008    2280 2012-12-28 05:59:37              Train Station
566035    2281 2013-02-11 13:31:41          Indian Restaurant
528623    2282 2013-01-21 15:36:02              Train Station
573399    2283 2013-02-14 11:32:53      Ramen /  Noodle House
467041    2284 2012-12-15 09:03:19              Train Station
566756    2285 2013-02-12 03:01:13                Pizza Place
569245    2286 2013-02-13 03:11:40      Ramen /  Noodle House
232282    2287 2012-06-21 11:36:53              Train Station
571585    2288 2013-02-14 00:12:36                     Office
538631    2289 2013-01-27 11:36:33              Train Station
572793    2290 2013-02-14 09:16:35                        Bar
573484    2291 2013-02-14 11:55:59       Gym / Fitness Center
566008    2292 2013-02-11 13:09:49          Food & Drink Shop
568463    2293 2013-02-12 12:48:30                        Bar

                          predict
536337              Train Station
571615                     Office
573011                       Park
572950              Movie Theater
573562      Ramen /  Noodle House
568714              Train Station
573309      Ramen /  Noodle House
573606              Train Station
228487              Train Station
571387              Train Station
553872         Chinese Restaurant
572628       Fast Food Restaurant
439208                  BBQ Joint
572378                Event Space
571962          Indian Restaurant
567716                Music Venue
452109      Ramen /  Noodle House
573602              Train Station
568088                        Bar
572271              Movie Theater
572829                     Subway
518411           Department Store
541218             Sandwich Place
565270              Train Station
570706       Gym / Fitness Center
499416                     Shrine
573560              Train Station
568702              Train Station
572892              Train Station
532914                 University
...                           ...
565709              Train Station
572238              Train Station
533068        Japanese Restaurant
571612          Convention Center
572579                    Library
569467                     Subway
570987      Ramen /  Noodle House
570980                        Bar
536603                     Subway
573445        Japanese Restaurant
563742                     Office
569801  College Academic Building
573161                Coffee Shop
573697                     Subway
573681              Train Station
569423      Ramen /  Noodle House
487008              Train Station
566035          Indian Restaurant
528623              Train Station
573399      Ramen /  Noodle House
467041              Train Station
566756                Pizza Place
569245      Ramen /  Noodle House
232282              Train Station
571585              Train Station
538631              Train Station
572793                        Bar
573484       Gym / Fitness Center
566008        Japanese Restaurant
568463         Chinese Restaurant

[2293 rows x 4 columns]